@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --green-gecko-rgb: 57, 255, 20;
}

body {
  height: 100vh;
  width: 100vw;
}

#root {
  height: 100%;
  width: 100%;
}

a.active {
  color: rgba(var(--green-gecko-rgb), 0.6);
}

.game-link:hover {
  background-color: rgba(var(--green-gecko-rgb), 0.8);
  color: white;
}

.game-link.active {
  background-color: rgba(var(--green-gecko-rgb), 0.6);
  color: white;
  cursor: default;
}
